<div class='hero'>
  <h1 > Art by Penny  </h1>

  <div id="footer">
    <div class="container">
      <b>Admin</b>
      <br />
      <%= link_to 'Add an aisle', new_admin_aisle_path %>
    </div>
  </div>

</div>